.rain-container {
  position: absolute;
  top: 80px;
  left: 50%;
  width: 100%;
  height: 20px;
  overflow: visible;
  transform: translateX(-50%);
  z-index: -1;
}
.rain-column {
  position: absolute;
  top: 0;
  height: 100vh;
  pointer-events: none;
}

.raindrop {
  position: absolute;
  width: 2px;
  height: 15px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3),
    rgba(174, 214, 241, 0.6)
  );
  animation: fall linear infinite var(--duration), hideInitial 0s;
}

.ripple {
  position: absolute;
  bottom: 30%; /* Ground level */
  left: 50%;
  width: 20px;
  height: 20px;
  border: 5px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transform: translateX(-50%);
  opacity: 0;
  animation: ripple 0.5s ease-out forwards infinite;
  --scale: 1.5;
}

@keyframes fall {
  to {
    transform: translateY(calc(100vh - 30vh)); /* Stop at ground level */
    opacity: 0; /* Fade out as it hits ground */
  }
}

@keyframes ripple {
  0% {
    transform: translateX(-50%) scale(0.2);
    opacity: 0.8;
    filter: blur(2px);
  }
  100% {
    transform: translateX(-50%) scale(var(--scale, 1.5));
    opacity: 0;
    filter: blur(5px);
  }
}
@keyframes hideInitial {
  0%,
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes fadeRain {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

body:not(.rain) .rain-container {
  animation: fadeRain 2s forwards;
}
